nav{
    margin-block-end: auto;
    inset-block-end: 0;
    block-size: 70px;
    inline-size: 100%;
    font-style: oblique;
    background-color: rgb(218, 244, 244);

}
img{
    align-items: center;
    block-size: 70px;
}