footer {
    position:fixed;
    block-size: 70px;
    margin-inline-start: 10px;
    inset-block-end: 0%;
    inline-size: 100%;
    background-color:  #56baed;
    color: rgb(255, 0, 183);
    font-style: oblique;
    text-align: center;

    
}
img {
    block-size: 70px;
}
