/* BASIC */
  body {
    font-family: "Poppins", sans-serif;
    block-size: 50vh;
  }
  
  a {
    color: #0096ca;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
  }

  
  h1 {
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px; 
    color: #0096ca;
  }
  h2 {
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px; 
    color: #ff0e69;
  }
  
  h3 {
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px; 
    color: #0096ca;
  }
  
  h4 {
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px; 
    color: #0096ca;
  }
  h5 {
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px; 
    color: #0096ca;
  }
  h6 {
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    display:block;
    margin: 40px 8px 10px 8px; 
    color: #adb6b9;
  }
